/* src/app/pokemon-detail/pokemon-detail.component.css */
.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}

.pokemon-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.pokemon-name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.pokemon-types {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #666;
}

.pokemon-stats p {
  margin: 5px 0;
}

.pokemon-detail-header {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}


